div{
  padding: 0px;
  margin: 0px;
}

*{
  /* border: 2px solid tomato; */
}


.imgClass{
  padding: 2% 5%;
  width: 85%;
  max-width: 850px;
}

.textClass{
  display: flex;
  justify-content: center;
}
p{
  max-width: 950px;
  width: 70%;
}
.dateClass{
  display: flex;
  justify-content: center;
}